/* Color Pallettte 
From : https://designschool.canva.com/blog/website-color-schemes/
01
Fresh: #4abdac
Vermillion: #fc4a1a
Sunshine: #f7b733
Clean: #dfdce3
*/


body {
  background-color:#FFA41B;
  font-family:"Lucida Console", Monaco, monospace;
  font-size: 120%;
  
}
h1 {
  color:#000839
}

h3{
  color:#000839
}

i{
  color:white !important;
  margin:30px;
}
.jumbotron{
  padding:50px 100px 50px 100px;
  margin:30px 100px auto 100px;
  color:white;
  background-color:#FFA41B;
  
}
.portfolio-section {
  
  border-bottom: thick solid #f7b733;
  padding:50px 30px 30px 30px;
  
}
.navbar-light {
  background-color:#FFA41B;
  box-shadow: 0px 0px 0px #88888A;
}
.navbar-light .navbar-nav .nav-link {
  color:white;
}
.sticky-bottom{
  box-shadow:10px 10px 10px 10px #88888A;
}
.nav-selected{
  color:#000839 !important;
  border:2px solid #000839;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color:#000839 ;
}

.active {
  color: #ff000 !important;
}

#love-interest{
  color:#ff000;
  font-weight:bold;
}